#about {
    background-color: #181c24;
    padding-top: 3vmin;
    padding-bottom: 10vmin;
}

.about-description {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    margin-left: 20vmin;
    margin-right: 20vmin;
    color: #d5d5d5;
}
